@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins&display=swap');

* {
  color: rgb(255,255,255);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

html {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

p {
  color: #f0f0f0;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: "Lapis";
  src: url("../public/fonts/lapsus-pro.bold.woff");
}

.polka {
  background-image: 
    radial-gradient(rgba(255, 255, 255, 0.025) 10%, transparent 11.6%),
    radial-gradient(rgba(255, 255, 255, 0.025) 10%, transparent 11.6%);
  background-position: 0px 0px, 16px 16px;
  background-size: 32px 32px;
}

*, *:before, *:after {
  cursor: url("../public/images/cursor.png"), auto;
}
a:hover {
  cursor: url("../public/images/cursor.png"), pointer;
}